$font-logo: "Lobster", serif;
$font-main: "Poppins", sans-serif;
$font-secondary: "PT Serif", serif;
$font-color-headings: black;
$font-color-text: #61615e;
$font-color-reverse: #fff;
$color-logo: #f7bc1b;
$color-portfolio-background: #edece8;


/* Global */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
    color: $font-color-text;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

section {
    padding: 96px 0;
    text-align: center;
}

.section-title, .card-title {
    color: $font-color-headings;
    margin-top: 20px;
    padding: 20px;
}

.section-subtitle, .card-subtitle {
    color: $font-color-text;
    font-family: $font-secondary;
    font-style: italic;
    margin-bottom: 20px;
}

.section-title {
    font-size: 36px;
}

.section-subtitle {
    font-size: 20px;
    margin-bottom: 50px;
}

.card {
    margin: 20px;
}



.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-main;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-logo;
    background-position: 100% 0;
    color: $font-color-reverse;
    text-transform: uppercase;
    
}


/* Nav and Splash */

.logo {
    font-family: Lobster;
    font-size: 40px;
    font-style: italic;
    color: $color-logo;
    
}

.wrapper-logo-and-nav {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    padding: 20px;
}

.wrapper-nav-and-splash {
    color: $font-color-reverse;
    background: url(https://i.postimg.cc/jj6f6LDD/pexels-polina-kovaleva-5827823.jpg);
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper-nav-and-splash::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: ""; 
    opacity: 0.6;
    background-color: black;
    z-index: 0;
    top: 0;
    left: 0;  
}


.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    padding: 20px;
    
}

.navigation a {
    text-transform: uppercase;
    color: $font-color-reverse;
    text-decoration: none;
}

.splash-inner {
    text-align: center;
    color: $font-color-reverse;
    z-index: 1;
    position: relative;
}

.splash-inner h1 {
    text-transform: uppercase;
    font-size: 48px;
    margin: 20px;
}

.splash-inner h2 {
    font-family: $font-secondary;
    font-style: italic;
}

/* Services */

.services h2 {
    color: $font-color-headings;
}

.services i {
    font-size: 30px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: $color-logo;
    border: $color-logo solid 2px;
    border-radius: 50%;
    margin-right: 30px;
    text-align: center;
    margin: 10px;
}

.services .card-text {
    font-family: $font-secondary;
}


/* Portfolio */

.portfolio {
    background: $color-portfolio-background;
}


.card-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}

/* Footer */

.social-media-links li {
    display: inline;   
}

.social-media-links i {
    font-size: 20px;
    background: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: $font-color-reverse;
    border-radius: 50%;
    margin-right: 30px;
    text-align: center;   
}

.social-media-links a {
    font-size: 0px;   
}
