$font-logo: Lobster, serif;
$font-main: "Poppins", sans-serif;
$font-secondary: "PT Serif", serif;
$font-color-headings: black;
$font-color-text: grey;
$font-color-reverse: white;


/* Global */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: $font-main;
    color: $font-color-text;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

section {
    padding: 96px 0;
}


/* Nav and Splash */
.logo {
    font-family: Lobster;
    font-size: 24px;
    padding: 20px;
    font-style: italic;
}

.wrapper-logo-and-nav {
    display: flex;
    justify-content: space-between;    
}

.wrapper-nav-and-splash {
    color: $font-color-reverse;
    
    height: 100vh;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    
    padding: 20px;
    
}

.splash-inner {
    text-align: center;
}
